<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
       					http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

       <task:scheduler id="jmetricScheduler" pool-size="15"/>
       <task:scheduled-tasks scheduler="jmetricScheduler">
              <task:scheduled ref="xxxExtractorServiceImpl" method="xxx" fixed-rate="600000" initial-delay="60000"/>
              <task:scheduled ref="xxxCompactorServiceImpl" method="xxx" fixed-rate="600000" initial-delay="30000"/>
              <task:scheduled ref="xxxAnalyzerServiceImpl" method="xxx" fixed-rate="60000" initial-delay="60000"/>
       </task:scheduled-tasks>
</beans>